* {
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
    transition: .2s all;
    scrollbar-width: none;
}

::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

ul {
    list-style-type: none;
}

.navbar {
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    z-index: 999;
}

body{
    background: ghostwhite;
}

main{
    min-height: calc(100vh - 9rem);
}

@keyframes jump {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

.jump{
    animation: jump 1s infinite;
    cursor: pointer;
}

.searchbar{
    width: 50%;
}

.form-control:focus{
    box-shadow: none !important;
}

.hero{
    width: 75%;
}

.hero-logo{
    width: auto;
}

.subtitle{
    font-size: 1rem !important;
}

.center-content{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card-img-top{
    width: 75%;
    height: 10rem;
    object-fit: cover;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.card-desc{
    height: 10rem;
    overflow: hidden;
}

.product-img{
    width: 100%;
    height: 20rem;
    object-fit: cover;
    border-radius: 1rem;
}

.cart-img{
    height: 12rem;
    border-radius: 1rem;
    display: flex;
    margin: 0 auto;
}

@media only screen and (max-width: 768px) {
    .hero{
        width: 95%;
    }
    .searchbar{
        width: 90%;
    }
    .subtitle{
        font-size: .95rem !important;
    }
    .hero-logo{
        width: 75%;
    }
}

@media only screen and (max-width: 320px){
    .hero-logo{
        width: 90%;
    }
}
