* {
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
    transition: .2s all;
    scrollbar-width: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

button:focus {
    outline: none;
}

a:hover{
    text-decoration: none;
    color: black;
}

ul {
    list-style-type: none;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
    background: transparent;
}

input{
    border: none;
    outline: none;
}

input:focus{
    border: none;
    outline: none;
}

section{
    padding: 3rem 1rem;
}

a {
    text-decoration: none;
    color: black;
}

nav {
    display: flex;
    position: sticky;
    top: 0;
    align-items: center;
    justify-content: space-between;
    padding: .75rem 1rem;
    z-index: 999;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    background: white;
}

nav div {
    display: flex;
}

.nav-logo img {
    width: 5rem;
}

.categories {
    margin-left: 1.5rem;
    padding: .25rem .5rem;
}

body {
    background: #FAF7F0;
    color: #3B3A38;
}

.menu {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    padding: 1rem;
    padding-top: 2rem;
    background: white;
    z-index: 999;
}

.menu ul{
    margin-bottom: 0;
}

#nav-close {
    position: absolute;
    right: 1rem;
}

.nav-drop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2rem;
    gap: 1rem;
}

.nav-drop hr{
    display: none;
}

.dropdown {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    background: rgba(255, 255, 255, 0.555);
    padding: 1rem;
    width: 100%;
    left: 0;
    top: 100%;
    opacity: 0;
    visibility: hidden;
}

.dropdown li{
    background: white;
    text-align: center;
    padding: .5rem 0;
    margin: 1rem 0;
    border-radius: 5px;
    border: 1px solid black;
}

footer{
    background-color: #B4A992;
    box-shadow: 0px -4px 5px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 2.5rem;
    font-weight: 700;
}

.hero-top{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 1rem;
    gap: 1rem;
}

.hero-logo{
    width: 10rem;
    margin: 1rem;
}

.hero-img{
    width: 50%;
    height: 100%;
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.down-arrow{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    margin-top: 2rem;
    width: 2rem;
    height: 2rem;
    animation: jump 1s infinite;
    cursor: pointer;
}

.searchbar{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
}

.searchbar input{
    border-radius: 1rem 0 0 1rem;
    width: 100%;
    padding: .5rem;
    padding-left: 1rem;
}

.searchbar button{
    border-radius: 0 1rem 1rem 0;
    background-color: #D4AFB9;
    color: white;
    padding: .5rem 1rem;
}

.searchbar-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
}

.category-title{
    font-size: 1rem;
    color: #3B3A38;
    margin: 2rem 0;
    text-decoration: underline;
}

.product-card{
    background: #FFE7D4;
    border: 1px solid #3B3A38;
    border-radius: 1rem;
    padding: .75rem;
    min-width: 7rem;
    height: max-content;
}

.product-card img{
    width: 100%;
    height: 100%;
    max-height: 7rem;
    object-fit: cover;
}

.product-card-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: .5rem;
}

.product-card-title h5{
    font-size: .75rem;
    font-weight: 700;
}

.product-card-title h6{
    background: #FFDDD2;
    font-weight: 500;
    padding: .25rem .4rem;
    border-radius: 1rem;
    font-size: .65rem;
}

.product-card-title h6:hover{
    text-decoration: none;
    color: black;
    background: #FFC4B7;
}

.product-card-title a{
    text-decoration: none;
    color: black;
}

.product-card-desc{
    display: none;
}

.product-card-price{
    background: #D0B8A8;
    border-radius: .4rem;
    font-size: .75rem;
    text-align: center;
    font-weight: 700;
    padding: .5rem 0;
    margin: .5rem 0;
}

.product-card-buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .25rem;
}

.product-card-buttons div{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .25rem;
}

.product-card-buttons a, .product-card-buttons div a, .product-card-buttons div form{
    border-radius: .4rem;
    font-size: .75rem;
    color: white;
    text-align: center;
    font-weight: 600;
    padding: .5rem 0;
    width: 100%;
}

.product-card-buttons a:hover{
    text-decoration: none;
    background: #797343;
}

.product-card-view-more{
    background: #948D53;
}

.product-card-edit{
    background: #008000;
}

.product-card-edit:hover{
    background: #006400 !important;
}


.product-card-delete{
    background: #D84646;
    color: white;
    font-weight: 600;
    border-radius: .4rem;
    font-size: .75rem;
    text-align: center;
    font-weight: 600;
    padding: .5rem 0;
    width: 100%;
}

.product-card-delete:hover{
    background: #B03A3A;
}

.products-home{
    display: grid;
    grid-template-columns: auto auto;
    gap: 1rem;
}

.pagination nav{
    background: transparent;
    box-shadow: none;
    position: relative;
    padding: 1rem 0;
    z-index: 0;
}

.searchbar-products{
    display: flex;
    justify-content: center;
    width: 100%;
}

.product-page{
    display: flex;
    flex-direction: column;
}

.product-page img{
    width: 15rem;
    height: 100%;
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.product-card-title.page{
    margin: 1rem 0;
}

.product-card-title.page h5{
    font-size: 1.5rem;
}

.product-card-title.page h6{
    font-size: 1rem;
    padding: .5rem .75rem;
}

.product-page-desc{
    font-size: .95rem;
}

.product-page-amount {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin: 1rem 0;
}

.product-page-amount h5{
    background: #D0B8A8;
    font-weight: 600;
    padding: .75rem 1.5rem;
    border-radius: 3rem;
}

.product-page-btns{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .75rem;
    font-weight: 600;
}

.product-page-btns a, .product-page-btns button{
    background: #D0B8A8;
    padding: .65rem 1.5rem;
    border-radius: 1rem;
    text-decoration: none;
    color: white;
    width: 100%;
    text-align: center;
}

.product-page-btns .register{
    background: #7F9453;
}

.product-page-btns .login{
    background: #AFA761;
}

.product-page-btns .submit{
    background: #948D53;
}

.drop-nav *{
    margin: 1rem 0;
}

.drop-nav *:hover{
    background: rgb(194, 194, 194);
}

.product-page-quantity{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    text-align: center;
    padding: 1rem;
}

.product-page-quantity input{
    width: 5rem;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
}

.product-page-quantity button{
    border: none;
    border-radius: 1rem;
    padding: .5rem 1rem;
    font-weight: 700;
    font-size: 1.25rem;
}

.product-page-quantity .minus{
    background: #FF9F9F;
}

.product-page-quantity .plus{
    background: #BCE29E;
}

.product-page-quantity .minus:hover{
    background: #FF7F7F;
}

.product-page-quantity .plus:hover{
    background: #9CD27E;
}

.currentImg *, .newImg{
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-bottom: 1rem;
}

@keyframes jump {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}

@media screen and (min-width: 768px) {
    .nav-drop {
        margin-top: 3rem;
        font-size: 1.5rem;
    }

    .hero-top{
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        padding: 3rem 1rem;
        gap: 1rem;
    }

    .hero-logo{
        width: 15rem;
    }

    .hero-img{
        width: 70%;
    }

    .category-title{
        font-size: 1.5rem;
    }

    .products{
        padding: 3rem;
    }

    .products-home{
        grid-template-columns: auto auto auto;
    }

    .searchbar-container form{
        width: 50%;
    }

    .product-card-desc{
        display: block;
        font-size: .75rem;
        font-weight: 500;
        padding: .5rem 0;
    }

    .product-page{
        flex-direction: row;
        gap: 3rem;
        padding: 3rem;
    }

    .product-card-title.page{
        margin-top: 0rem;
    }

    .product-page-image{
        width: auto;
    }

    .product-page-amount{
        flex-direction: row;
        justify-content: space-between;
        margin: 1.5rem 0rem;
    }

    .product-page-amount h5{
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        font-size: 1rem;
    }

    .product-page-btns{
        flex-direction: row;
    }

    .product-page-btns a{
        border-radius: .75rem;
    }

    .related-products{
        padding: 0rem 3rem;
        padding-bottom: 3rem;
    }

    .categories {
        border-bottom: 0;
    }

    .dropdown{
        padding: 0 7rem;
    }
}

@media screen and (min-width: 1024px) {
    #nav-button {
        display: none;
    }

    #nav-close {
        display: none;
    }

    .menu {
        display: block;
        position: relative;
        width: auto;
        height: auto;
        padding: 0;
        background: transparent;
    }

    .menu ul {
        display: flex;
    }

    .nav-drop {
        display: flex;
        flex-direction: row;
        margin: 0;
        font-size: 1rem;
    }

    .nav-drop li {
        border: 1px solid #000000;
        border-radius: 10px;
        padding: .5rem 1rem;
    }

    .nav-drop hr{
        display: block;
        background-color: #000000;
    }

    nav {
        padding: 1rem 2rem;
    }

    .drop-nav{
        position: absolute;
        top: 3rem;
        right: 0;
        flex-direction: column;
        opacity: 0;
    }

    .drop-nav *{
        margin-top: 0;
        background: white;
    }

    .drop-nav *:last-child{
        margin-bottom: 0;
    }

    .hero-top{
        flex-direction: row;
        justify-content: space-evenly;
    }

    .hero-img{
        width: 100%;
    }

    .hero-logo{
        width: 75%;
    }

    .searchbar input, .searchbar button{
        padding: 1rem;
    }

    .searchbar input{
        border-radius: 3rem 0 0 3rem;
        width: 100%;
        padding: 1rem;
        padding-left: 1rem;
    }

    .searchbar button{
        border-radius: 0 3rem 3rem 0;
        background-color: #D4AFB9;
        color: white;
        padding: 1rem 1.5rem;
        padding-left: 1rem;
    }

    .searchbar-container{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-top: 1rem;
        width: 100%;
    }

    .searchbar-container form{
        width: 50%;
    }

    .category-title{
        font-size: 1.75rem;
    }

    .products{
        padding: 5rem;
    }

    .products-home{
        grid-template-columns: auto auto auto auto;
    }

    .product-card{
        padding: 1rem;
        max-width: 15rem;
    }

    .product-card-title h5{
        font-size: 1rem;
    }

    .product-card-title h6{
        font-size: .75rem
    }

    .product-card-desc{
        display: block;
        font-size: .75rem;
        font-weight: 500;
        padding: .5rem 0;
    }

    .searchbar-products{
        justify-content: flex-end;
        width: 100%;
    }

    .products.page{
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
    }

    .product-page{
        padding: 3rem 10rem;
    }

    .product-page-amount{
        margin: 2.5rem 0rem;
    }

    .related-products{
        padding: 0rem 5rem;
        padding-bottom: 3rem;
    }

    .dropdown{
        grid-template-columns: auto auto auto auto auto;
    }
}

@media screen and (min-width: 1280px){
    .products-home{
        grid-template-columns: auto auto auto auto auto auto;
    }

    .product-page{
        padding: 5rem 15rem;
    }

    .product-page-image{
        width: auto;
    }

    .product-page-desc{
        font-size: 1rem;
    }
}
