* {
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
    transition: .2s all;
    scrollbar-width: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

ul {
    list-style-type: none;
}

button{
    border: none;
    outline: none;
    cursor: pointer;
}

a{
    text-decoration: none;
    color: black;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .75rem 1rem;
    z-index: 999;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
}

nav div{
    display: flex;
}

.nav-logo img{
    width: 5rem;
}

.categories{
    display: none;
}

body{
    background: #FAF7F0;
    color: #3B3A38;
}


.menu{
    display: hidden;
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    padding: 1rem;
    background: white;
    z-index: 999;
}

#nav-close{
    position: absolute;
    right: 1rem;
}

.nav-drop{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2rem;
    gap: 1rem;
}

.dropdown{
    position: absolute;
    top: 100%;
}

@keyframes jump {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

.jump{
    animation: jump 1s infinite;
    cursor: pointer;
}

@media screen and (min-width: 768px) {
    .nav-drop{
        margin-top: 3rem;
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 1024px){
    #nav-button{
        display: none;
    }

    #nav-close{
        display: none;
    }

    .menu{
        display: none;
    }

    nav{
        padding: 1rem 2rem;
    }
}
